/* Place CSS styles here */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid red;
}
img{
  width: 100px;
}

.cat-litter {
  position: absolute;
  bottom: 60px;
  left: 29%;
  transform: translateX(-50%);
}

.text {
  text-align: center;
  margin-top: 100px;
}